html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #020307;
    background-image: url("/static/images/universe.jpg");
    background-size: cover;
    background-position-y: 112px;
    background-repeat: repeat;
    height: 100vh;
}

.main-content {
    text-align: center;
    width: 100%;
}


/* Table styles - planets, residents, votes */

#planets {
    display: table;
    width: 100%;
}

.residents {
    font-size: 13px;
    padding: 20px 10px;
    width: 75%;
}

.planet-container {
    padding-top: 1vw;
    text-align: left;
    display: inline-block;
    overflow: hidden;
}

.planet-data, .resident-data {
    padding: 2px;
}

#planet-data {
    width: 90vw;
    display: inline-block;
}

#planets th, #planets td, #residents, #residents th, #residents td, #votes, #votes th, #votes td {
    border: 1px solid gray;
    border-collapse: collapse;
    background: #ffffff;
}

#planets th, #planets td, #residents th, #residents td, #votes th, #votes {
    opacity: 0.8;
}

#planets td {
    font-size: 14px;
}

.planet-header, .resident-header, #residents th, #residents td, #votes th, #votes td {
    font-size: 14px;
    padding: 3px;
}

.planet-header, .resident-header, .vote-header {
    font-weight: bold;
}


/* Button styles */

.btn-primary, .btn-secondary, .reg-button, .login-button, .close-button, .vote-close-button {
    font-size: 13px;
    font-weight: 600;
    background: linear-gradient(90deg, #03aefa, #0d5587);
    color: #020307;
}

.btn-primary, .btn-primary:disabled, .reg-button, .login-button, .close-button, .vote-close-button {
    border: 1px solid #ffffff !important;
}

.btn-primary:hover, .reg-button:hover, .login-button:hover, .close-button:hover, .vote-close-button:hover {
    background: linear-gradient(#0d4373, #0d4373);
    border: 1px double #ffffff !important;
}

.btn-primary {
    opacity: 0.9;
}

.btn-primary:disabled, .btn-primary:disabled {
    background: linear-gradient(#5f5f5f, #5f5f5f);
}

.btn-secondary {
    color: #020307;
    margin: 2px;
    border: 1px solid #0d5587;
}

.btn-secondary:hover {
    border: 1px double #03aefa;
    background: linear-gradient(#0d4373, #0d4373);
}

.btn-resident {
    width: 120px;
    margin: 5px 2px;
}

.reg-button, .login-button {
    color: #020307;
    border-radius: 4px;
    margin: 10px;
    width: 50%;
    height: 30px;
    padding-bottom: 3px;
    opacity: 0.9;
}

.reg-button:hover, .login-button:hover {
    color: #ffffff;
    cursor: pointer;
}

.close-button, .vote-close-button {
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 0.9;
}

.close-button {
    margin-left: 90%;
}

.vote-close-button {
    margin-left: 80%;
}

.centered-icon {
    margin-left: 35%;
}


/* MODAL general style */

.total-modal-display {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(2, 3, 7);
    background-color: rgba(2, 3, 7, 0.8);
}

.total-modal-content {
    margin: auto;
    height: auto;
    background-color: #ffffff;
    position: relative;
    padding-top: 2.5%;
    outline: 0;
    width: 55%;
    border-radius: 5px;
    box-shadow: -1px 2px 50px 10px #020307;
    display: block;
    z-index: 1;
    opacity: 0.99;
}

.total-modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: url("/static/images/universe.jpg");
    background-size: cover;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.total-modal-content-votes {
    margin: auto;
    height: auto;
    background-color: #ffffff;
    position: relative;
    padding-top: 2.5%;
    outline: 0;
    width: 25%;
    border-radius: 5px;
    box-shadow: -1px 2px 50px 10px #020307;
    z-index: 1;
}

.total-modal-content-votes::before {
    content: "";
    background-image: url("/static/images/universe.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
    top: 0;
}

.hide-res-bg::before {
    background-image: url("/static/images/fullblack.jpg");
    opacity: 1;
}

.inner-data-container {
    padding: 10px;
    text-align: -webkit-center;
}

.inner-data-container::after, .inner-data-container::before {
    content: "";
    display: table;
    clear: both;
}

.x-close-button {
    border: none;
    display: inline-block;
    padding: 3px 12px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.5s;
}

.x-close-button:hover {
    background-color: #ffffff;
}

.button-display-top-right {
    position: absolute;
    right: 0;
    top: 0;
}

#which-planet, .modal-title {
    padding-bottom: 5px;
    padding-left: 10px;
    color: #ffffff;
    font-weight: bold;
}

.col {
    width: 300px;
}

#vote-table, #resident-table {
    padding: 10px;
}

.modal-header {
    padding: 0 10px;
    border-bottom: 1px double #5f5f5f;
    display: flex;
    width: 100%;
}

.modal-footer {
    border-top: 1px double #5f5f5f;
    padding: 10px 10px;
    display: flex;
}

.votes-footer {
    border-top: 1px double #5f5f5f;
    padding: 10px 10px;
    display: flex;
}


/* Registration and login from style */

#reg-form, #login-form {
    width: 60%;
    display: inline-block;
    min-width: 200px;
    height: 250px;
}

.input {
    width: 50%;
    height: 30px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px double #0d4373;
}

.input::placeholder {
    text-indent: 5px;
    font-size: 13px;
    color: #0d4373;
}

.input:focus::placeholder {
    opacity: 0;
}

.label {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

.fa-times {
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.7;
    color: #ffffff;
}

.fa-times:hover {
    cursor: pointer;
    transform: rotate(180deg);
    opacity: 1;
    color: #020307;
}


/* Navigation bar style */

.nav-item {
    cursor: pointer;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #03aefa !important;
}

.navbar {
    background-color: #020307 !important;
}

.signed-in-user {
    color: #ffffff;
}

#logged-in-username {
    color: #03aefa;
    font-weight: bold;
}

.centered-text {
    text-align: center;
}


/*Main title style with before and after*/

#title {
    background-image: url("/static/images/universe.jpg");
    z-index: 1;
    position: relative;
}

.title-content {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #020307;
    z-index: 3;
}

#main-title {
    display: inline-block;
    position: relative;
    font-family: 'Russo One', sans-serif;
    z-index: 2;
    color: #ffffff;
    background: url('/static/images/universe.jpg');
    background-position-y: -7px;
    padding: 0 20px;
}

#title::after {
    content: '';
    display: block;
    position: absolute;
    background: #ffffff;
    width: 96vw;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    z-index: -3;
    height: 10%;
}

/* Pagination buttons */

#button-box {
    padding-bottom: 1em;
    width: 85vw;
}


/* Current page number */

#page-container {
    display: inline;
    padding: 4px 5px;
    color: #020307;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    float: right;
    background-color: #ffffff;
    border: 1px double #0d5587;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 2px;
    opacity: 0;
}


/* Scrollbar design */

::-webkit-scrollbar {
    width: 12px;
    background: linear-gradient(to bottom right, #5f5f5f, #ffffff);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #00000070;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #0d5587, #03aefa);
    border-radius: 10px;
}
