html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: black;
}

.planet-data, .resident-data {
    padding: 2px;
}

.main-content {
    text-align: center;
    width: 100%;
}

.planet-container {
    padding-top: 1vw;
    text-align: left;
    display: inline-block;
    overflow: hidden;
}

#planets {
    display: table;
    width: 90vw;
}

#planets th, #planets td, #residents, #residents th, #residents td, #votes, #votes th, #votes td {
    border: 1px solid gray;
    border-radius: 3px;
    border-collapse: collapse;
}

#planets, .planet-header, .resident-header, #residents th, #residents td, #votes th, #votes td {
    font-size: 14px;
    padding: 3px;
}

.planet-header, .resident-header, .vote-header {
    font-weight: bold;
}

.btn-primary {
    background-color: #296294;
}

.btn-secondary {
    background-color: #ebebeb;
    color: black;
    margin: 1px;
    font-size: 13px;
}

.residents {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}

/*MODAL style*/

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding-top: 2.5%;
    outline: 0;
    width: 55%;
}

.w3-modal-content-votes {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding-top: 2.5%;
    outline: 0;
    width: 25%;
}

.w3-container {
    padding: 10px;
    text-align: -webkit-center;
}

.w3-container:after, .w3-container:before {
    content: "";
    display: table;
    clear: both;
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 3px 12px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.5s;
}

.w3-button:hover {
    background-color: #cccccc;
}

.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}

#which-planet {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    text-align: left;
}

.close-button {
    margin-top: 10px;
    float: right;
}

.col {
    width: 300px;
}

#vote-table, #resident-table {
    padding: 10px;
}

/* Registration from style */

#reg-form-wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#reg-form {
    width: 60%;
    display: inline-block;
    min-width: 200px;
    height: 400px;
    margin: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9);
    border-radius: 4px;
    background-color: #3B666B;
}

.reg-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.input {
    width: 50%;
    height: 30px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #01579b;
    text-indent: 5px;
}

.label {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.message {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.reg-button {
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    margin: 10px;
    width: 50%;
    height: 30px;
    box-shadow: none;
}

.reg-button:hover {
    background-color: #ffffff;
    color: black;
}

/* Navbar style */

.nav-item {
    cursor: pointer;
}

.signed-in-user {
    color: #9E9E9E;
    margin-top: 9px;
}

#logged-in-username {
    color: white;
}

.centered-icon {
    margin-left: 35%;
}

.centered-text {
    text-align: center;
}


/*Main title style with before and after*/

.title-content {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 0.5em
}

#main-title {
    display: inline-block;
    position: relative;
    font-family: 'Russo One', sans-serif;
}

#main-title::before, #main-title::after {
    content: '';
    display: block;
    position: absolute;
}

#main-title::before {
    background: white;
    z-index: -1;
    height: 101%;
    left: -20px;
    right: -20px;
}

#main-title::after {
    background: black;
    width: 99vw;
    left: 50%;
    transform: translateX(-50%);
    top: 13px;
    z-index: -2;
    height: 50%;
}

#button-box {
    padding-bottom: 1em;
    width: 90vw;
}

#planet-data {
    width: 90vw;
    display: inline-block;
}

.fa-times {
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.7;
}

.fa-times:hover {
    cursor: pointer;
    transform: rotate(180deg);
    opacity: 1;
}