body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
}

#title, .planet-data {
    padding: 3px;
}

.main-content {
    text-align: center;
    width: 100%;
}

.planet-container {
    display: inline-block;
    padding-top: 1vw;
    text-align: left;
}

#planets, #planets th, #planets td {
    border: 1px solid gray;
    border-radius: 3px;
    border-collapse: collapse;
}

#planets, .planet-header {
    font-size: 14px;
    padding: 3px;
}

.btn-primary {
    background-color: #296294;
}

.btn-secondary {
    background-color: #ebebeb;
    color: black;
    margin: 1px;
    font-size: 13px;
}

.residents {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}