{% extends "layout.html" %}

{% block title %}
    <title>Planets</title>
{% endblock %}

{% block content %}
    <div id="title">
        <div class="title-content">
            <h1>Star Wars universe planets</h1>
            <button class="btn btn-primary" type="submit"
                    id="prev-button" name="prev-button" data-value="-1">Previous
            </button>

            <button class="btn btn-primary" type="submit"
                    id="next-button" name="next-button" data-value="1">Next
            </button>

            <button class="btn btn-primary" type="submit"
                    id="modal-button" name="modal-button">Modal test
            </button>
        </div>
    </div>
    <div id="residents" class="w3-modal">
        <div class="w3-modal-content">
            <span id="close-modal" class="w3-button w3-display-topright"><i class="far fa-times-circle"></i></span>
            <div id="resident-container" class="w3-container">
                <table id="residents" data-page="1">
                    <th><span class="resident-header">Name</span></th>
                    <th><span class="resident-header">Height</span></th>
                    <th><span class="resident-header">Mass</span></th>
                    <th><span class="resident-header">Hair color</span></th>
                    <th><span class="resident-header">Skin color</span></th>
                    <th><span class="resident-header">Eye color</span></th>
                    <th><span class="resident-header">Birth year</span></th>
                    <th><span class="resident-header">Gender</span></th>
                </table>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="planet-container">
            <table id="planets" data-page="1">
                <th><span class="planet-header">Name</span></th>
                <th><span class="planet-header">Diameter</span></th>
                <th><span class="planet-header">Climate</span></th>
                <th><span class="planet-header">Terrain</span></th>
                <th><span class="planet-header">Surface Waters Percentage</span></th>
                <th><span class="planet-header">Population</span></th>
                <th><span class="planet-header">Residents</span></th>
                <th><span class="planet-header"></span></th>
            </table>
        </div>
    </div>
{% endblock %}