<div id="resident-container" class="w3-modal">
    <div class="w3-modal-content">
        <span id="close-modal" class="w3-button w3-display-topright"><i class="fas fa-times"></i></span>
        <div id="resident-datacontainer" class="w3-container">
            <h4 id="which-planet"></h4>
            <div id="resident-table">
                <table id="residents"></table>
            </div>
            <div>
                <button class="btn btn-secondary" type="submit"
                        id="close-button" name="close-button">Close
                </button>
            </div>
        </div>
    </div>
</div>

<div id="votes-container" class="w3-modal">
    <div class="w3-modal-content-votes">
        <span id="close-votes" class="w3-button w3-display-topright"><i class="far fa-times-circle"></i></span>
        <div id="resident-datacontainer" class="w3-container">
            <h4 id="which-planet">Voting statistics</h4>
            <div id="vote-table">
                <table id="votes"></table>
            </div>
            <button class="btn btn-secondary" type="submit"
                    id="close-votes-button" name="close-button">Close
            </button>
        </div>
    </div>
</div>