{% extends "layout.html" %}
{% block title %}
<title>Registration</title>
{% endblock %}
{% block content %}
    <div id="reg-background">
        <div id="reg-form-wrapper">
            <div id="reg-form">
                <br>
                <p class="reg-title">Registration</p>
                <br>
                <form action="{{ url_for('new_user_registration') }}" method=POST>
                    <label id="new_user_reg" class="label">Username</label>
                    <p><input id="new_username" name="new_username" type="text"
                           class="input" placeholder="username" required></p>

                    <label id="new_user_reg" class="label">Password</label>
                    <p><input id="new_password" name="new_password" type="password"
                           class="input" placeholder="password" required></p>
                    <p><button type="submit" class="reg-button">Create new account</button></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}